# Python
__pycache__/
*.pyc
.venv/
.venv*/
env/
build/
dist/
*.egg-info/

# Outputs
out/
data/golden_levels/**/.DS_Store
*.xlsx
*.zip

# IDE
.idea/

# Keep VS Code project files
!.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

